.body {
  display: none;
}

.flashcard-clicked {
  background-color: E6E6E6;
}


/* #op-hide, #js-hide, #vr-hide  {
  display: none;
}

.click, .click2, .click3 {
  cursor: pointer;
  color: #0088cc;
}
.click:hover, .click2:hover, .click3:hover {
  text-decoration: underline;
} */
